<initiafy-card class="relative">
    <initiafy-icon icon="code" class="pointer absolute top-16 right-16" (click)="showCode = !showCode">code</initiafy-icon>
    <h1 class="default margin-top-0">Typography</h1>
    <p>Default family: Lato; imported via Google Fonts.</p>

    <h2 class="margin-top-32">Headings</h2>
    <p>Default headings h1 to h4</p>
    <div class="white-bgcolor bg-std radius-std shadow-std padding-std">
        <h1 class="margin-top-0">The quick brown fox jumps over the lazy dog</h1>
        <h2 class="margin-top-0">The quick brown fox jumps over the lazy dog</h2>
        <h3 class="margin-top-0">The quick brown fox jumps over the lazy dog</h3>
        <h4 class="margin-top-0">The quick brown fox jumps over the lazy dog</h4>
    </div>
    <div class="margin-bottom-32" *ngIf="showCode">
        <markdown ngPreserveWhitespaces>
            ```html
            <h1>The quick brown fox jumps over the lazy dog</h1>
            <h2>The quick brown fox jumps over the lazy dog</h2>
            <h3>The quick brown fox jumps over the lazy dog</h3>
            <h4>The quick brown fox jumps over the lazy dog</h4>
            ```
        </markdown>
    </div>

    <h2 class="margin-top-32">Paragraphs</h2>
    <p>Default paragraph with p</p>
    <div class="white-bgcolor bg-std radius-std shadow-std padding-std">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas viverra pellentesque turpis, eget ullamcorper lorem lacinia in. Aliquam id porttitor felis. Mauris vel faucibus arcu, ornare sollicitudin magna. Etiam luctus lorem quis dui viverra suscipit. In velit turpis, ullamcorper eget ex vel, ullamcorper volutpat elit. </p>
    </div>
    <div class="margin-bottom-32" *ngIf="showCode">
        <markdown ngPreserveWhitespaces>
            ```html
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit... </p>
            ```
        </markdown>
    </div>

    <h2 class="margin-top-32">Style</h2>
    <p>Formating styles with bold, bolder, italic, underline, uppercase, lowercase and link.</p>
    <div class="white-bgcolor bg-std radius-std shadow-std padding-std">
        <p> Lorem ipsum dolor sit amet <span class="bold">bold text</span> onsectetur adipiscing elit.</p>
        <p> Lorem ipsum dolor sit amet <span class="bolder">bolder text</span> onsectetur adipiscing elit.</p>
        <p> Lorem ipsum dolor sit amet <span class="italic">italic text</span> onsectetur adipiscing elit.</p>
        <p> Lorem ipsum dolor sit amet <span class="underline">underline text</span> onsectetur adipiscing elit.</p>
        <p> Lorem ipsum dolor sit amet <span class="uppercase">uppercase text</span> onsectetur adipiscing elit.</p>
        <p> Lorem ipsum dolor sit amet <span class="lowercase">lowercase text</span> onsectetur adipiscing elit.</p>
        <p> Lorem ipsum dolor sit amet <a href="/">this is a link</a> onsectetur adipiscing elit.</p>
    </div>
    <div class="margin-bottom-32" *ngIf="showCode">
        <markdown ngPreserveWhitespaces>
            ```html
            <span class="bold">bold text</span>
            <span class="bolder">bolder text</span>
            <span class="italic">italic text</span>
            <span class="underline">underline text</span>
            <span class="uppercase">uppercase text</span>
            <span class="lowercase">lowercase text</span>
               ```
        </markdown>
    </div>

    <h2 class="margin-top-32">Sizes</h2>
    <p>Font sizes from 8px to 100px, multiples of 2</p>
    <div class="white-bgcolor bg-std radius-std shadow-std padding-std">
        <p *ngFor="let item of array(20); let i = index">
            <span *ngIf="i > 3" class="text{{ (i + 1) * 2 }} margin-0">Text with font size {{ (i + 1) * 2 }}px </span>
        </p>
    </div>

</initiafy-card>
