<div class="white-bgcolor radius-std shadow-std padding-std typography">
    <h1 class="default margin-top-0">Typography</h1>
    <p>Family Lato imported via Google Fonts. Color #808080.</p>

    <div class="initiafy-grid two-columns margin-top-32">
        <div class="initiafy-grid-row white-bgcolor bg-std radius-std shadow-std padding-std">
            <h1 class="margin-top-0">[H1] The quick brown fox jumps over the lazy dog</h1>
            <p>[p] Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas viverra pellentesque turpis, eget ullamcorper lorem lacinia in. Aliquam id porttitor felis. Mauris vel faucibus arcu, ornare sollicitudin magna. Etiam luctus lorem quis dui viverra suscipit. In velit turpis, ullamcorper eget ex vel, ullamcorper volutpat elit. </p>
        </div>  
        <div class="initiafy-grid-row white-bgcolor bg-std radius-std shadow-std padding-std">
            <h2 class="margin-top-0">[H2] The quick brown fox jumps over the lazy dog</h2>
            <p>[p] Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas viverra pellentesque turpis, eget ullamcorper lorem lacinia in. Aliquam id porttitor felis. Mauris vel faucibus arcu, ornare sollicitudin magna. Etiam luctus lorem quis dui viverra suscipit. In velit turpis, ullamcorper eget ex vel, ullamcorper volutpat elit. </p>
        </div>
        <div class="initiafy-grid-row white-bgcolor bg-std radius-std shadow-std padding-std">
            <h3 class="margin-top-0">[H3] The quick brown fox jumps over the lazy dog</h3>
            <p>[p] Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas viverra pellentesque turpis, eget ullamcorper lorem lacinia in. Aliquam id porttitor felis. Mauris vel faucibus arcu, ornare sollicitudin magna. Etiam luctus lorem quis dui viverra suscipit. In velit turpis, ullamcorper eget ex vel, ullamcorper volutpat elit. </p>
        </div>
        <div class="initiafy-grid-row white-bgcolor bg-std radius-std shadow-std padding-std">
            <h4 class="margin-top-0">[H4] The quick brown fox jumps over the lazy dog</h4>
            <p>[p] Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas viverra pellentesque turpis, eget ullamcorper lorem lacinia in. Aliquam id porttitor felis. Mauris vel faucibus arcu, ornare sollicitudin magna. Etiam luctus lorem quis dui viverra suscipit. In velit turpis, ullamcorper eget ex vel, ullamcorper volutpat elit. </p>
        </div>
    </div>

</div>