<div class="initiafy-wrapper">
  <div class="initiafy-sidenav">
    <nav>
      <ul>
        <li><a routerLink="/grid">Grid</a></li>
        <li><a routerLink="/typography">Typography</a></li>
        <li><a routerLink="/colors">Colors</a></li>
        <li><a routerLink="/icons">Icons</a></li>
        <li><a routerLink="/buttons">Buttons</a></li>
        <li><a routerLink="/actions">Action buttons</a></li>
        <li><a routerLink="/structure">Structure</a></li>
        <li><a routerLink="/alerts">Alerts</a></li>
        <li><a routerLink="/messages">Messages</a></li>
        <li><a routerLink="/helpers">Helpers</a></li>
      </ul>
    </nav>
  </div>
  <div class="initiafy-content">
    <router-outlet></router-outlet>
  </div>
</div>