<div class="white-bgcolor radius-std shadow-std padding-std">
    <div class="relative">
        <h1 class="default margin-top-0">Icons</h1>
        <i class="material-icons pointer absolute top right" (click)="toggleCode()">code</i>
    </div>
    <p>Icons pre-selected for the platform.</p>
    <div class="color-palette icons margin-top-32">
        <div class="items-block">
            <span class="bg-std material-icons">
            add
            </span>
            <div class="content">
                <p class="bold margin-top-0">Add icon</p>
                <p class="margin-0 grey-color" *ngIf="showCode">&lt;initiafy-icon icon="add">&lt;/initiafy-icon></p>
            </div>
        </div>
        <div class="items-block">
            <span class="bg-std material-icons">
                arrow_back
            </span>
            <div class="content">
                <p class="bold margin-top-0">Back icon</p>
                <p class="margin-0 grey-color" *ngIf="showCode">&lt;initiafy-icon icon="arrow_back">&lt;/initiafy-icon></p>
            </div>
        </div>
        <div class="items-block">
            <span class="bg-std material-icons">
                done
            </span>
            <div class="content">
                <p class="bold margin-top-0">Done icon</p>
                <p class="margin-0 grey-color" *ngIf="showCode">&lt;initiafy-icon icon="done">&lt;/initiafy-icon></p>
            </div>
        </div>
        <div class="items-block">
            <span class="bg-std material-icons">
                chevron_left
            </span>
            <div class="content">
                <p class="bold margin-top-0">Left icon</p>
                <p class="margin-0 grey-color" *ngIf="showCode">&lt;initiafy-icon icon="chevron_left">&lt;/initiafy-icon></p>
            </div>
        </div>
        <div class="items-block">
            <span class="bg-std material-icons">
                close
            </span>
            <div class="content">
                <p class="bold margin-top-0">Close icon</p>
                <p class="margin-0 grey-color" *ngIf="showCode">&lt;initiafy-icon icon="close">&lt;/initiafy-icon></p>
            </div>
        </div>
        <div class="items-block">
            <span class="bg-std material-icons">
                edit
            </span>
            <div class="content">
                <p class="bold margin-top-0">Edit icon</p>
                <p class="margin-0 grey-color" *ngIf="showCode">&lt;initiafy-icon icon="edit">&lt;/initiafy-icon></p>
            </div>
        </div>
        <div class="items-block">
            <span class="bg-std material-icons">
                delete_outline
            </span>
            <div class="content">
                <p class="bold margin-top-0">Delete icon</p>
                <p class="margin-0 grey-color" *ngIf="showCode">&lt;initiafy-icon icon="delete_outline">&lt;/initiafy-icon></p>
            </div>
        </div>
        <div class="items-block">
            <span class="bg-std material-icons">
                input
            </span>
            <div class="content">
                <p class="bold margin-top-0">Input icon</p>
                <p class="margin-0 grey-color" *ngIf="showCode">&lt;initiafy-icon icon="input">&lt;/initiafy-icon></p>
            </div>
        </div>
        <div class="items-block">
            <span class="bg-std material-icons">
                help_outline
            </span>
            <div class="content">
                <p class="bold margin-top-0">Help icon</p>
                <p class="margin-0 grey-color" *ngIf="showCode">&lt;initiafy-icon icon="help_outline">&lt;/initiafy-icon></p>
            </div>
        </div>
        <div class="items-block">
            <span class="bg-std material-icons">
                more_vert
            </span>
            <div class="content">
                <p class="bold margin-top-0">Menu icon</p>
                <p class="margin-0 grey-color" *ngIf="showCode">&lt;initiafy-icon icon="more_vert">&lt;/initiafy-icon></p>
            </div>
        </div>
        <div class="items-block">
            <span class="bg-std material-icons">
                list
            </span>
            <div class="content">
                <p class="bold margin-top-0">List icon</p>
                <p class="margin-0 grey-color" *ngIf="showCode">&lt;initiafy-icon icon="list">&lt;/initiafy-icon></p>
            </div>
        </div>
        <div class="items-block">
            <span class="bg-std material-icons">
                search
            </span>
            <div class="content">
                <p class="bold margin-top-0">Search icon</p>
                <p class="margin-0 grey-color" *ngIf="showCode">&lt;initiafy-icon icon="search">&lt;/initiafy-icon></p>
            </div>
        </div>
        <div class="items-block">
            <span class="bg-std material-icons">
                business
            </span>
            <div class="content">
                <p class="bold margin-top-0">Business icon</p>
                <p class="margin-0 grey-color" *ngIf="showCode">&lt;initiafy-icon icon="business">&lt;/initiafy-icon></p>
            </div>
        </div>
        <div class="items-block">
            <span class="bg-std material-icons">
                access_time
            </span>
            <div class="content">
                <p class="bold margin-top-0">Time icon</p>
                <p class="margin-0 grey-color" *ngIf="showCode">&lt;initiafy-icon icon="access_time">&lt;/initiafy-icon></p>
            </div>
        </div>
        <div class="items-block">
            <span class="bg-std material-icons">
                cancel
            </span>
            <div class="content">
                <p class="bold margin-top-0">Cancel icon</p>
                <p class="margin-0 grey-color" *ngIf="showCode">&lt;initiafy-icon icon="cancel">&lt;/initiafy-icon></p>
            </div>
        </div>
        <div class="items-block">
            <span class="bg-std material-icons">
                vpn_key
            </span>
            <div class="content">
                <p class="bold margin-top-0">Password icon</p>
                <p class="margin-0 grey-color" *ngIf="showCode">&lt;initiafy-icon icon="vpn_key">&lt;/initiafy-icon></p>
            </div>
        </div>
        <div class="items-block">
            <span class="bg-std material-icons">
                cloud_download
            </span>
            <div class="content">
                <p class="bold margin-top-0">Download icon</p>
                <p class="margin-0 grey-color" *ngIf="showCode">&lt;initiafy-icon icon="cloud_download">&lt;/initiafy-icon></p>
            </div>
        </div>
        <div class="items-block">
            <span class="bg-std material-icons">
                person_add
            </span>
            <div class="content">
                <p class="bold margin-top-0">Add user icon</p>
                <p class="margin-0 grey-color" *ngIf="showCode">&lt;initiafy-icon icon="person_add">&lt;/initiafy-icon></p>
            </div>
        </div>
        <div class="items-block">
            <span class="bg-std material-icons">
                person
            </span>
            <div class="content">
                <p class="bold margin-top-0">User icon</p>
                <p class="margin-0 grey-color" *ngIf="showCode">&lt;initiafy-icon icon="person">&lt;/initiafy-icon></p>
            </div>
        </div>
        <div class="items-block">
            <span class="bg-std material-icons">
                notifications_none
            </span>
            <div class="content">
                <p class="bold margin-top-0">Notification icon</p>
                <p class="margin-0 grey-color" *ngIf="showCode">&lt;initiafy-icon icon="notifications_none">&lt;/initiafy-icon></p>
            </div>
        </div>
    </div>

</div>