<div class="white-bgcolor radius-std shadow-std padding-std">
    <h1 class="default margin-top-0">Color Pallet</h1>
    <p>Standard colors used in the plataform.</p>

    <div class="color-palette margin-top-32 flex row">
        <div class="flex column align-items-center">
            <span class="primary-bgcolor margin-bottom-8"></span>
            <p class="margin-y-8 bold">Primary color</p>
            <p class="margin-0 grey-color">RGB: #ac1641</p>
            <p class="margin-0 grey-color">SCSS: --PMain</p>
        </div>
        <div class="flex column align-items-center">
            <span class="secondary-bgcolor margin-bottom-8"></span>
            <p class="margin-y-8 bold">Secondary color</p>
            <p class="margin-0 grey-color">RGB: #2f9eb9</p>
            <p class="margin-0 grey-color">SCSS: --SMain</p>
        </div>
        <div class="flex column align-items-center">
            <span class="black-bgcolor margin-bottom-8"></span>
            <p class="margin-y-8 bold">Black color</p>
            <p class="margin-0 grey-color">RGB: #000 87%</p>
            <p class="margin-0 grey-color">SCSS: --Black</p>
        </div>
        <div class="flex column align-items-center">
            <span class="grey-bgcolor margin-bottom-8"></span>
            #000 54% 
            <b class="margin-top-8">Gray</b>
        </div>
        <div class="flex column align-items-center">
            <span class="disable-bgcolor margin-bottom-8"></span>
            #000 26% 
            <b class="margin-top-8">Disable</b>
        </div>
        <div class="flex column align-items-center">
            <span class="ripple-bgcolor margin-bottom-8"></span>
            #000 12% 
            <b class="margin-top-8">Ripple</b>
        </div>
        <div class="flex column align-items-center">
            <span class="hover-bgcolor margin-bottom-8"></span>
            #000 5%
            <b class="margin-top-8">Hover</b>
        </div>
        <div class="flex column align-items-center">
            <span class="rag-red-bgcolor margin-bottom-8"></span>
            #f44336
            <b class="margin-top-8">Red</b>
        </div>
        <div class="flex column align-items-center">
            <span class="rag-amber-bgcolor margin-bottom-8"></span>
            #ffc108
            <b class="margin-top-8">Amber</b>
        </div>
        <div class="flex column align-items-center">
            <span class="rag-green-bgcolor margin-bottom-8"></span>
            #348424
            <b class="margin-top-8">Green</b>
        </div>
    </div>
</div>