<div class="white-bgcolor radius-std shadow-std padding-std">
    <h1 class="default margin-top-0">Color Pallet</h1>
    <p>Standard colors used in the plataform.</p>

    <div class="color-palette flex regular-mobile align-items-top justify-content-space-between">
        <div class="initiafy-grid-row margin-top-32">
            <h2 class="default margin-top-0">Main Colors</h2>
            <p>Main colors of the plataform.</p>
            <div class="flex elements-margin-right">
                <div class="flex column align-items-center">
                    <span class="primary-bgcolor radius-all margin-bottom-8"></span>
                    #ac1641
                    <b class="margin-top-8">Primary</b>
                </div>
                <div class="flex column align-items-center">
                    <span class="secondary-bgcolor radius-all margin-bottom-8"></span>
                    #2f9eb9
                    <b class="margin-top-8">Secondary</b>
                </div>
            </div>
        </div>

        <div class="initiafy-grid-row margin-top-32">
            <h2 class="default margin-top-0">Neutral Colors</h2>
            <p>Neutral colors of the plataform.</p>
            <div class="flex elements-margin-right">
                <div class="flex column align-items-center">
                    <span class="black-bgcolor radius-all margin-bottom-8"></span>
                    #000 87%
                    <b class="margin-top-8">Black</b>
                </div>
                <div class="flex column align-items-center">
                    <span class="grey-bgcolor radius-all margin-bottom-8"></span>
                    #000 54% 
                    <b class="margin-top-8">Gray</b>
                </div>
                <div class="flex column align-items-center">
                    <span class="disable-bgcolor radius-all margin-bottom-8"></span>
                    #000 26% 
                    <b class="margin-top-8">Disable</b>
                </div>
                <div class="flex column align-items-center">
                    <span class="ripple-bgcolor radius-all margin-bottom-8"></span>
                    #000 12% 
                    <b class="margin-top-8">Ripple</b>
                </div>
                <div class="flex column align-items-center">
                    <span class="hover-bgcolor radius-all margin-bottom-8"></span>
                    #000 5%
                    <b class="margin-top-8">Hover</b>
                </div>
            </div>
        </div>
        
        <div class="initiafy-grid-row margin-top-32">
            <h2 class="default margin-top-0">RAG Colors</h2>
            <p>RAG colors of the plataform.</p>
            <div class="flex elements-margin-right">
                <div class="flex column align-items-center">
                    <span class="rag-red-bgcolor radius-all margin-bottom-8"></span>
                    #f44336
                    <b class="margin-top-8">Red</b>
                </div>
                <div class="flex column align-items-center">
                    <span class="rag-amber-bgcolor radius-all margin-bottom-8"></span>
                    #ffc108
                    <b class="margin-top-8">Amber</b>
                </div>
                <div class="flex column align-items-center">
                    <span class="rag-green-bgcolor radius-all margin-bottom-8"></span>
                    #348424
                    <b class="margin-top-8">Green</b>
                </div>
            </div>
        </div>
    </div>
</div>