<div class="white-bgcolor radius-std shadow-std padding-std buttons">
    <div class="relative">
        <h1 class="default margin-top-0">Buttons</h1>
        <i class="material-icons pointer absolute top right" (click)="toggleCode()">code</i>
    </div>
    <p>Standard buttons: type: main/stroked/icon; colors: primary/secondary; with icon/label/tooltip; disabled/enabled.</p>

    <h2>Main buttons</h2>
    <div class="elements-margin-right">
        <initiafy-button design="main" color="primary" label="Add Element" icon="add"></initiafy-button>
        <initiafy-button design="main" color="primary" icon="add"></initiafy-button>
        <initiafy-button design="main" color="secondary" label="Add Element" icon="add"></initiafy-button>
        <initiafy-button design="main" color="secondary" icon="add"></initiafy-button>
        <initiafy-button design="main" color="secondary" label="Add Element" icon="add" disabled="true"></initiafy-button>
        <initiafy-button design="main" color="secondary" icon="add" disabled="true"></initiafy-button>
    </div>
    
    <h2>Stroked buttons</h2>
    <div class="elements-margin-right">
        <initiafy-button design="stroke" color="primary" label="Add Element" icon="add"></initiafy-button>
        <initiafy-button design="stroke" color="primary" icon="add"></initiafy-button>
        <initiafy-button design="stroke" color="secondary" label="Add Element" icon="add"></initiafy-button>
        <initiafy-button design="stroke" color="secondary" icon="add"></initiafy-button>
        <initiafy-button design="stroke" color="secondary" label="Add Element" icon="add"  disabled="true"></initiafy-button>
        <initiafy-button design="stroke" color="secondary" icon="add" disabled="true"></initiafy-button>
    </div>
    
    <h2>Icon buttons</h2>
    <div class="elements-margin-right">
        <initiafy-button design="icon" icon="add"></initiafy-button>
        <initiafy-button design="icon" icon="add" disabled="true"></initiafy-button>
    </div>

    <div id="code" class="margin-top-32" *ngIf="showCode">
        &lt;!-- Button code --> <br >
        &lt;initiafy-button  <br >
        &nbsp; &nbsp; design="main|stroked"   <br >
        &nbsp; &nbsp; color="primary|secondary"   <br >
        &nbsp; &nbsp; label="Add Element (optional)"   <br >
        &nbsp; &nbsp; icon="add (optional)" iconFont="material|default:material"  <br >
        &nbsp; &nbsp; tooltip="Show some tooltip (optional)"  <br >
        >&lt;/initiafy-button>
    </div>
    
</div>
