<div class="white-bgcolor radius-std shadow-std padding-std buttons">
  <div class="relative">
    <i class="material-icons pointer top right" (click)="showCode = !showCode"
      >code</i
    >
  </div>

  <markdown
    *ngIf="showCode"
    [src]="'/assets/examples/' + title + '.html'"
    lineNumbers
  ></markdown>

  <app-documentation [componentName]="componentName"></app-documentation>

  <h2>Main buttons</h2>
  <div class="elements-margin-right">
    <initiafy-button
      design="main"
      color="primary"
      label="Add Element"
      tooltip="Click to add element"
    ></initiafy-button>
    <initiafy-button
      design="main"
      color="primary"
      label="Add Element"
      icon="done"
    ></initiafy-button>
    <initiafy-button
      design="main"
      color="primary"
      icon="done"
    ></initiafy-button>
    <initiafy-button
      design="main"
      color="secondary"
      label="Add Element"
    ></initiafy-button>
    <initiafy-button
      design="main"
      color="secondary"
      label="Add Element"
      icon="done"
    ></initiafy-button>
    <initiafy-button
      design="main"
      color="secondary"
      icon="done"
    ></initiafy-button>
    <initiafy-button
      design="main"
      color="secondary"
      label="Add Element"
      icon="done"
      disabled="true"
    ></initiafy-button>
    <initiafy-button
      design="main"
      color="secondary"
      icon="done"
      disabled="true"
    ></initiafy-button>
  </div>

  <h2>Stroked buttons</h2>
  <div class="elements-margin-right">
    <initiafy-button
      design="stroke"
      color="primary"
      label="Add Element"
      icon="done"
    ></initiafy-button>
    <initiafy-button
      design="stroke"
      color="primary"
      icon="done"
    ></initiafy-button>
    <initiafy-button
      design="stroke"
      color="secondary"
      label="Add Element"
      icon="done"
    ></initiafy-button>
    <initiafy-button
      design="stroke"
      color="secondary"
      icon="done"
    ></initiafy-button>
    <initiafy-button
      design="stroke"
      color="secondary"
      label="Add Element"
      icon="done"
      disabled="true"
    ></initiafy-button>
    <initiafy-button
      design="stroke"
      color="secondary"
      icon="done"
      disabled="true"
    ></initiafy-button>
  </div>

  <h2>Icon buttons</h2>
  <div class="elements-margin-right">
    <initiafy-button design="icon" icon="done"></initiafy-button>
    <initiafy-button
      design="icon"
      icon="done"
      disabled="true"
    ></initiafy-button>
  </div>
</div>
