<div class="text-center">
    <h1>Design System | Initiafy</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas viverra pellentesque turpis, eget ullamcorper
        lorem lacinia in.</p>
    <img src="../../assets/img/landing-page-devices.png" alt="Initiafy app screen shots" class="margin-top-32" />
    <p>Note: This Design System heavily leverages Angular Material Design. Where you see types prefixed with 'Mat...',
        this indicates that is it of the Angular Material Design Library and we refer you there for
        further reading.</p>
</div>