<mat-sidenav-container class="initiafy-wrapper" autosize>
  <mat-sidenav #drawer class="initiafy-sidenav" [mode]="smallScreen ? 'over' : 'side'" [fixedInViewport]="true"
    [fixedTopGap]="64">
    <nav>
      <ul>
        <li><a routerLinkActive="active" routerLink="/grid">Grid</a></li>
        <li><a routerLinkActive="active" routerLink="/typography">Typography</a></li>
        <li><a routerLinkActive="active" routerLink="/colors">Colors</a></li>
        <li><a routerLinkActive="active" routerLink="/icons">Icons</a></li>
        <li><a routerLinkActive="active" routerLink="/buttons">Buttons</a></li>
        <li><a routerLinkActive="active" routerLink="/search-bar">Search Bar</a></li>
        <li><a routerLinkActive="active" routerLink="/actions">Action buttons</a></li>
        <li><a routerLinkActive="active" routerLink="/initiafy-card">Card</a></li>
        <li><a routerLinkActive="active" routerLink="/loading-card">Loading Card</a></li>
        <li><a routerLinkActive="active" routerLink="/data-table">Data Table</a></li>
        <li><a routerLinkActive="active" routerLink="/yes-or-no">Yes or No Alert</a></li>
        <li><a routerLinkActive="active" routerLink="/snack-bar">Snack Bar</a></li>
        <li><a routerLinkActive="active" routerLink="/structure">Structure</a></li>
        <li><a routerLinkActive="active" routerLink="/css">CSS Helper Classes</a></li>
      </ul>
    </nav>
  </mat-sidenav>

  <div class="initiafy-content">
    <ng-content></ng-content>
  </div>
</mat-sidenav-container>