<h2>Basic</h2>
<mat-form-field>
  <mat-label>Columns</mat-label>
  <mat-select [formControl]="basicColumns" multiple>
    <mat-option *ngFor="let column of basicColumnsOptions" [value]="column">{{column}}</mat-option>
  </mat-select>
</mat-form-field>
<app-data-table [dataTableSettings]="basicExampleDataTableSettings" [(selectionModel)]="exampleSelectionModel">
</app-data-table>
<ul>
  <li *ngFor="let item of exampleSelectionModel.selected">{{item.name}} - {{item.mandatory}} - {{item.extraText}}</li>
</ul>

<h2>Advanced</h2>
<app-data-table [dataTableSettings]="inputsExampleDataTableSettings" [(selectionModel)]="exampleSelectionModel">
</app-data-table>