<div class="white-bgcolor radius-std shadow-std padding-std alert">
    <h1 class="default margin-top-0">Messages</h1>
    <p>Feedback messages defined for the platform, framework based.</p>

    <div class="mat-snack-bar-container margin-top-32" role="alert">
        <div class="mat-simple-snackbar flex">
            <div class="flex align-items-center">
                <i class="material-icons white-color margin-right-8 default">done</i>
                <span class="white-color default">Feedback message</span>
            </div>
        </div>
    </div>
    <div class="mat-snack-bar-container margin-top-32" role="alert">
        <div class="mat-simple-snackbar flex justify-content-space-between align-items-center">
            <div class="flex align-items-center">
                <i class="material-icons white-color margin-right-8 default">done</i>
                <span class="white-color default">Feedback message</span>
            </div>
            <i class="material-icons white-color pointer">close</i>
        </div>
    </div>
    <div class="mat-snack-bar-container margin-top-32" role="alert">
        <div class="mat-simple-snackbar flex justify-content-space-between align-items-center">
            <div class="flex align-items-center">
                <i class="material-icons white-color margin-right-8 default">done</i>
                <span class="white-color default">Feedback message</span>
            </div>
            <span class="white-color underline pointer">Undo</span>
            <i class="material-icons white-color pointer">close</i>
        </div>
    </div>
</div>