<div class="white-bgcolor radius-std shadow-std padding-std alert">
    <h1 class="default margin-top-0">Alerts</h1>
    <p>Alerts defined for the platform, framework based.</p>
    <div id="cdk-overlay-1" class="cdk-overlay-pane" style="max-width: 80vw; pointer-events: auto; width: 350px; position: static;">
        <div tabindex="0" class="cdk-visually-hidden cdk-focus-trap-anchor" aria-hidden="true"></div>
        <div aria-modal="true" 
        class="mat-dialog-container ng-tns-c33-35 ng-trigger ng-trigger-dialogContainer ng-star-inserted" tabindex="-1" id="mat-dialog-0" 
        role="dialog" style="transform: none;">
            <div _nghost-c34="" class="ng-star-inserted">
                <div _ngcontent-c34="" class="mat-dialog-content" mat-dialog-content="">
                    <p _ngcontent-c34="" fxlayoutalign="center" 
                    style="place-content: stretch center; align-items: stretch; flex-direction: row; box-sizing: border-box; display: flex;">
                    <img _ngcontent-c34="" height="48px" src="../../assets/svgs/yellow.svg" width="48px"></p>
                    <p _ngcontent-c34="" fxlayoutalign="center" 
                    style="place-content: stretch center; align-items: stretch; flex-direction: row; box-sizing: border-box; display: flex;">
                    Are you sure?</p>
                </div>
                <div class="flex justify-content-space-between">     
                    <button class="button stroke secondary ripple"> Cancel </button>           
                    <button class="button main secondary ripple"> Confirm </button>                
                </div>
            </div>
        </div>
        <div tabindex="0" class="cdk-visually-hidden cdk-focus-trap-anchor" aria-hidden="true"></div>
    </div>
</div>