<mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="checkbox">
    <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'customCheckboxColumnClass'">
      <mat-checkbox [checked]="isAllSelected" [indeterminate]="areSomeSelected" (change)="masterCheckboxChange($event)">
      </mat-checkbox>
    </mat-header-cell>
    <mat-cell *matCellDef="let row" [ngClass]="'customCheckboxColumnClass'">
      <mat-checkbox [checked]="isItemSelected(row)" (change)="checkboxChange($event, row)"></mat-checkbox>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="menu">
    <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'customMenuColumnClass flex justify-content-center'">
    </mat-header-cell>
    <mat-cell *matCellDef="let row" [ngClass]="'customMenuColumnClass flex justify-content-center'">
      <initiafy-button [matMenuTriggerFor]="appMenu" (click)="clickedItem = row" icon="more_vert" [disabled]="!menu"></initiafy-button>
    </mat-cell>
  </ng-container>
  <ng-container *ngFor="let column of columnDefinitions; trackBy: trackByColumnName" [matColumnDef]="column.columnName">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      {{ column.title }}
    </mat-header-cell>
    <ng-container [ngSwitch]="column.mode">
      <ng-container *ngSwitchCase="'count'">
        <mat-cell *matCellDef="let row" [attr.data-label]="column.columnName">
          {{ row.cnt }}
        </mat-cell>
      </ng-container>
      <ng-container *ngSwitchCase="'transformer'">
        <mat-cell *matCellDef="let row" [attr.data-label]="column.columnName">
          {{ column.transformer(row) }}
        </mat-cell>
      </ng-container>
      <ng-container *ngSwitchDefault>
        <mat-cell *matCellDef="let row" [attr.data-label]="column.columnName">
          {{ row[column.columnName] }}
        </mat-cell>
      </ng-container>
    </ng-container>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"> </mat-row>
</mat-table>

<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>


<mat-menu #appMenu="matMenu">
  <div *ngIf="menu">
    <ng-container *ngFor="let item of menu">
      <button mat-menu-item (click)="item.action(clickedItem)" [disabled]="item.disabled && item.disabled(clickedItem)">
        <mat-icon>{{ item.icon }}</mat-icon>
        {{ item.label }}
      </button>
    </ng-container>
  </div>
</mat-menu>