<initiafy-card>
    <h1 class="default margin-top-0">CSS</h1>
    <p>CSS classes to help write consistent and maintanable code, based on Google Style Guide patterns and SMACSS.</p>
    
    <h3 class="margin-top-32">Flexbox</h3>    
    <markdown ngPreserveWhitespaces>
        ```html
        .flex                       [ set a div to display flex; use .flex-important if needed ]
        .regular-mobile             [ elements of a flex div change to inline elements in mobile ]
        .column                     [ add this class to set direction as column ]
        .row                        [ add this class to set direction as row ]
        .align-items-x              [ add this class to align items, where x = center|stretch|start|end ]
        .justify-content-x          [ add this class to justify content, where x = space-around|space-between|center|start|end ]
        .flex-justify-align-center  [ add display flex, justify content center and align items center ]
        .flex-grow                  [ add flex = 1 to a div ]
        .flex-grow-x                [ add flex property to a div, where x is a number from 1 to 10 ]
        .flex-x                     [ add flex property to a div, where x is a number from 1 to 10 ]
        ```
    </markdown>
    
    <h3 class="margin-top-32">Standard elements</h3>
    <markdown ngPreserveWhitespaces>
        ```html
        .radius-std                             [ add border radius standard to an element]
        .bg-std                                 [ add background standard to an element]
        .shadow-std                             [ add box shadow standard to an element]
        .margin-std                             [ add standard margins on top, bottom, left and right of an element ]
        .margin-[top|bottom|left|right]-std     [ add standard margin to an element ]
        .padding-std                            [ add standard padding on top, bottom, left and right of an element ]
        .padding-[top|bottom|left|right]-std    [ add standard padding to an element ]
        ```
    </markdown>
    
    <h3 class="margin-top-32">Cursor</h3>
    <markdown ngPreserveWhitespaces>
        ```html
        .default        [ add cursor default to an element]
        .pointer        [ add cursor pointer to an element]
        .notallowed     [ add cursor notallowed to an element]
        .move           [ add cursor move to an element]
        ```
    </markdown>
    
    <h3 class="margin-top-32">Display</h3>
    <markdown ngPreserveWhitespaces>
        ```html
        .hide, .hidden  [  add display none to an element ]                
        .show           [ add display block to an element ]                
        .inline         [ add display inline to an element ]                
        .inline-block   [ add display inline-block to an element ]                
        .grid           [ add display grid to an element ]             
        .table          [ add display table to an element ]
        ```
    </markdown>
    
    <h3 class="margin-top-32">Margin</h3>
    <markdown ngPreserveWhitespaces>
        ```html
        .margin-x                               [  add margin to an element, where x = "auto" or = a number from 0 to 32 multiples of 4]   
        .margin-[top|bottom|left|right]-x       [  add margin to an element, where x = "auto" or = a number from 0 to 32 multiples of 4 ]   
        .margin-y-x                             [  add margins top and bottom to an element, where x = "auto" or = a number from 0 to 32 multiples of 4]   
        .margin-x-x                             [  add margins left and right to an element, where the second x = a number from 0 to 32 multiples of 4 ]       
        .elements-margin-[right|left]           [ add a standard margin right or left to all elements inside a div ]
        ```
    </markdown>
    
    <h3 class="margin-top-32">Padding</h3>
    <markdown ngPreserveWhitespaces>
        ```html
        .padding-x                              [  add padding to an element, where x = a number from 0 to 32 multiples of 4]   
        .padding-[top|bottom|left|right]-x      [  add padding to an element, where x = a number from 0 to 32 multiples of 4]   
        .padding-y-x                            [  add margins top and bottom to an element, where x = a number from 0 to 32 multiples of 4]   
        .padding-x-x                            [  add margins left and right to an element, where the second x = a number from 0 to 32 multiples of 4 ]
    ```
    </markdown>
    
    <h3 class="margin-top-32">Sizes</h3>
    <markdown ngPreserveWhitespaces>
        ```html
        .width-x        [  add width to an element, where x = a number from 5 to 750 multiples of 5 ]   
        .max-width-x    [  add max width to an element, where x = a number from 5 to 750 multiples of 5 ]   
        .min-width-x    [  add min width to an element, where x = a number from 5 to 750 multiples of 5 ]   
        .height-x       [  add height to an element, where x = a number from 5 to 750 multiples of 5 ]   
        .max-height-x   [  add max height to an element, where x = a number from 5 to 750 multiples of 5 ]   
        .min-height-x   [  add min height to an element, where x = a number from 5 to 750 multiples of 5 ]   
        ```
    </markdown>

    <h3 class="margin-top-32">Positions</h3>
    <markdown ngPreserveWhitespaces>
        ```html
        .relative                   [  set position relative to an element ]    
        .absolute                   [  set position absolute to an element ]    
        .fixed                      [  set position fixed to an element ]    
        .absolute-right             [  set position absolute with right = 0 to an element ]   
        .absolute-top-right         [  set position absolute with top = 0 and right = 0 to an element ]   
        .absolute-top-left          [  set position absolute with top = 0 and left = 0 to an element ]  
        .[top|bottom|left|right]-x  [  set position to an element, where x = "auto" or a number from 0 to 32 multiples of 4 ]   
        ```
    </markdown>

    <h3 class="margin-top-32">Colors</h3>
    <markdown ngPreserveWhitespaces>
        ```html
        .[primary|secondary|black|grey|disable|ripple|hover|rag-red|rag-amber|rag-green|white]-color        [ set variables for colors to an element ]   
        .[primary|secondary|black|grey|disable|ripple|hover|rag-red|rag-amber|rag-green|white]-bgcolor      [ set variables for background color to an element ]   
        .[primary|secondary|black|grey|disable|ripple|hover|rag-red|rag-amber|rag-green|white]-border-color [ set variables for border color to an element ]  
        ```
    </markdown>
    
</initiafy-card>