<app-documentation [componentName]="componentName" [module]="module"[codeTitle]="'button.html'">
  <initiafy-icon icon="code" class="pointer absolute top-16 right-16" (click)="showCode = !showCode"></initiafy-icon>
  <p>Button options availiable in the library.</p>
  <div class="elements-margin-right margin-top-16">
      <initiafy-button
        design="main"
        color="primary"
        label="Button label"
        tooltip="Click to Button label"
      ></initiafy-button>
      <initiafy-button
        design="main"
        color="primary"
        label="Button label"
        icon="done"
      ></initiafy-button>
      <initiafy-button
        design="main"
        color="primary"
        icon="done"
      ></initiafy-button>
    </div>
    <div class="elements-margin-right margin-top-16">
      <initiafy-button
        design="main"
        color="secondary"
        label="Button label"
      ></initiafy-button>
      <initiafy-button
        design="main"
        color="secondary"
        label="Button label"
        icon="done"
      ></initiafy-button>
      <initiafy-button
        design="main"
        color="secondary"
        icon="done"
      ></initiafy-button>
    </div>
    <div class="elements-margin-right margin-top-16">
      <initiafy-button
        design="stroke"
        color="primary"
        label="Button label"
      ></initiafy-button>
      <initiafy-button
        design="stroke"
        color="primary"
        label="Button label"
        icon="done"
      ></initiafy-button>
      <initiafy-button
        design="stroke"
        color="primary"
        icon="done"
      ></initiafy-button>
    </div>
    <div class="elements-margin-right margin-top-16">   
      <initiafy-button
        design="stroke"
        color="secondary"
        label="Button label"
      ></initiafy-button>  
      <initiafy-button
        design="stroke"
        color="secondary"
        label="Button label"
        icon="done"
      ></initiafy-button>
      <initiafy-button
        design="stroke"
        color="secondary"
        icon="done"
      ></initiafy-button>
    </div>
    <div class="elements-margin-right margin-top-16">
      <initiafy-button
        design="stroke"
        color="secondary"
        label="Button label"
        disabled="true"
      ></initiafy-button>
      <initiafy-button
        design="stroke"
        color="secondary"
        label="Button label"
        icon="done"
        disabled="true"
      ></initiafy-button>
      <initiafy-button
        design="stroke"
        color="secondary"
        icon="done"
        disabled="true"
      ></initiafy-button>
    </div>
    <div class="elements-margin-right margin-top-16">
        <initiafy-button design="basic" label="Button label"></initiafy-button>
        <initiafy-button design="basic" icon="done" label="Button label"></initiafy-button>
      <initiafy-button design="basic" icon="done" color="secondary"></initiafy-button>
    </div>
</app-documentation>