/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

.grid .initiafy-grid-row {
    background: #f1f1f1;
    padding: 10px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 12px;
    cursor: default;
    font-weight: bold;
}
.color-palette span {
    width: 100%;
    height: 150px;
    display: block;
    font-size: 90px;
    text-align: center;
    line-height: 150px;
}
.items-block {
    width: 220px;
    height: auto;
    display: inline-block;
    vertical-align: top;
    margin-right: 24px;
    margin-bottom: 24px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .2);
    .content {
        padding: 10px;
    }
}
.icons i {
    padding: 60px;
    font-size: 40px;
}
@media only screen and (max-width: 960px) {
    .color-palette span {
        width: 30px;
        height: 30px;
    }
    .color-palette {
        font-size: 12px;
    }
}
#code {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 15px;
    font-size: 12px;
    font-family: 'Inconsolata', monospace;
}
#code span {
    color: red;
}
nav ul {
    padding: 20px 0 0;
    margin: 0;
    list-style: none;
    li a {
        text-decoration: none;
        padding: 10px 24px;
        display: block;
        color: var(--Black);
        &.active {
            font-weight: bold;
            color: var(--PMain);
        }
    }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-dialog-container {
    width: 400px;
    padding: 20px;
}

.mat-snack-bar-container {
    display: table;
    min-width: 350px;
    padding: 10px;
    border-radius: 4px;
}