/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

.grid .initiafy-grid-row {
    background: #f1f1f1;
    padding: 10px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 12px;
    cursor: default;
    font-weight: bold;
}
.color-palette span {
    width: 50px;
    height: 50px;
}
.icons i {
    padding: 60px;
    font-size: 40px;
}
@media only screen and (max-width: 960px) {
    .color-palette span {
        width: 30px;
        height: 30px;
    }
    .color-palette {
        font-size: 12px;
    }
}
code {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 30px 0;
    font-family: 'Inconsolata', monospace;
}
code span {
    color: red;
}
nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    li a {
        text-decoration: none;
        padding: 10px 24px;
        display: block;
        color: var(--Black);
    }
}