<div class="white-bgcolor radius-std shadow-std padding-std mselection">
    <h1 class="default margin-top-0">Action Buttons</h1>
    <p>Standard button boxes with actions.</p>
    <div class="selection-boxes-holder textCenter">
        <button class="selection-boxes white-bgcolor shadow-std radius-std padding-std ripple">
            <div class="selection-box-wrapper">
                <i class="icon-plus mat-icon mat-default material-icons">alternate_email</i>
                <h3 class="textCenter"> Selection Box Name </h3>
            </div>
        </button>
        <button class="selection-boxes white-bgcolor shadow-std radius-std padding-std ripple">
            <div class="selection-box-wrapper">
                <i class="icon-plus mat-icon mat-default material-icons">people</i>
                <h3> Selection Box Name </h3>
            </div>
        </button>
        <button class="selection-boxes white-bgcolor shadow-std radius-std padding-std ripple">
            <div class="selection-box-wrapper">
                <i class="icon-plus mat-icon mat-default material-icons">alternate_email</i>
                <h3 class="textCenter"> Selection Box Name </h3>
            </div>
        </button>
        <button class="selection-boxes white-bgcolor shadow-std radius-std padding-std ripple">
            <div class="selection-box-wrapper">
                <i class="icon-plus mat-icon mat-default material-icons">people</i>
                <h3> Selection Box Name </h3>
            </div>
        </button>
    </div>
</div>